In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
!pwd

/content

In [ ]:
# Loading datasets
# Referenced: https://www.kaggle.com/code/mehmetcanyldrm/item-based-book-recommendation-engine

books = pd.read_csv("drive/My Drive/Final Project Dataset/Books.csv",low_memory=False)
ratings = pd.read_csv("drive/My Drive/Final Project Dataset/Ratings.csv",low_memory=False)
users = pd.read_csv("drive/My Drive/Final Project Dataset/Users.csv",low_memory=False)


books.info()
ratings.info()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [ ]:
# Merge and transform datasets
books_ratings = pd.merge(books,ratings,on="ISBN")
books_ratings_users = pd.merge(books_ratings,users, on ="User-ID")
newData = books_ratings_users
newData

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,087004124X,Anthem,Ayn Rand,1966,Caxton Press,http://images.amazon.com/images/P/087004124X.0...,http://images.amazon.com/images/P/087004124X.0...,http://images.amazon.com/images/P/087004124X.0...,259589,8,"venice, florida, usa",19.0
1031132,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,http://images.amazon.com/images/P/158243123X.0...,http://images.amazon.com/images/P/158243123X.0...,http://images.amazon.com/images/P/158243123X.0...,259591,8,"tioga, pennsylvania, usa",39.0
1031133,8485900057,Rimas y leyendas (ClÃ¡sicos Fraile ; 3),Gustavo Adolfo BÃ©cquer,1981,Ediciones Fraile,http://images.amazon.com/images/P/8485900057.0...,http://images.amazon.com/images/P/8485900057.0...,http://images.amazon.com/images/P/8485900057.0...,259614,10,"madrid, madrid, spain",22.0
1031134,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,http://images.amazon.com/images/P/0838934854.0...,http://images.amazon.com/images/P/0838934854.0...,http://images.amazon.com/images/P/0838934854.0...,259679,6,"grand prairie, texas, usa",27.0
1031135,3423300965,Texte zur Ethik.,Dieter Birnbacher,2003,Dtv,http://images.amazon.com/images/P/3423300965.0...,http://images.amazon.com/images/P/3423300965.0...,http://images.amazon.com/images/P/3423300965.0...,259920,0,"bielefeld, nordrhein-westfalen, germany",NaN

In [ ]:
# Remove unnecessary Columns (ex: ISBN, Book-Author, Year-Of-Publication, Publisher Image-URL-S, Image-URL-M, Image-URL-L, Location, Age)

newData = newData.drop(['ISBN','Book-Author', 'Year-Of-Publication','Publisher','Image-URL-S','Image-URL-M','Image-URL-L','Location','Age'], axis = 1)

# Remove 0 ratings representing no ratings.
newData = newData[newData['Book-Rating'] > 0]
newData

,Book-Title,User-ID,Book-Rating
1,Clara Callan,8,5
9,Where You'll Find Me: And Other Stories,8,5
12,The Middle Stories,8,5
13,Jane Doe,8,5
15,The Witchfinder (Amos Walker Mystery Series),8,6
...,...,...,...
1031129,Sobre La Utilidad y Los Perjuicios de La Historia,246590,6
1031131,Anthem,259589,8
1031132,A Student of Weather,259591,8
1031133,Rimas y leyendas (ClÃ¡sicos Fraile ; 3),259614,10
1031134,Anglo-American Cataloguing Rules,259679,6

In [ ]:
#newData = newData.groupby('User-ID')['Book-Title'].agg('count').sort_values()

# We are only computing books that are rated over 200 times.


num_ratings = pd.DataFrame(newData['Book-Title'].value_counts())
num_ratings
invalid_data_1 = num_ratings[num_ratings['Book-Title'] <= 200].index
invalid_data_2 = num_ratings[num_ratings['Book-Title'] <= 100].index
invalid_data_3 = num_ratings[num_ratings['Book-Title'] <= 50].index
valid_data_1 = newData[~newData["Book-Title"].isin(invalid_data_1)]
valid_data_2 = newData[~newData["Book-Title"].isin(invalid_data_2)]
valid_data_3 = newData[~newData["Book-Title"].isin(invalid_data_3)]

In [ ]:
# Computing 
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)

In [ ]:
from surprise import KNNBasic
from surprise import Reader
from surprise import Dataset
from surprise import accuracy

reader = Reader(rating_scale = (1,10))
trainset_1 = Dataset.load_from_df(valid_data_1[['User-ID','Book-Title','Book-Rating']], reader).build_full_trainset()
trainset_2 = Dataset.load_from_df(valid_data_2[['User-ID','Book-Title','Book-Rating']], reader).build_full_trainset()
trainset_3 = Dataset.load_from_df(valid_data_3[['User-ID','Book-Title','Book-Rating']], reader).build_full_trainset()
sim_options = {'name': 'cosine',
               'user_based': False  # compute  similarities between items
               }
algo = KNNBasic(sim_options=sim_options)

algo.fit(trainset_1)
trainset_test_1 = trainset_1.build_testset()
trainset_predictions_1 = algo.test(trainset_test_1)

algo.fit(trainset_2)
trainset_test_2 = trainset_2.build_testset()
trainset_predictions_2 = algo.test(trainset_test_2)

algo.fit(trainset_3)
trainset_test_3 = trainset_3.build_testset()
trainset_predictions_3 = algo.test(trainset_test_3)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

In [ ]:
accuracy.rmse(trainset_predictions_1, verbose= True)
accuracy.rmse(trainset_predictions_2, verbose= True)
accuracy.rmse(trainset_predictions_3, verbose= True)

RMSE: 0.9430
RMSE: 1.0892
RMSE: 1.1860

1.1860099765872252

In [ ]:
# Creating User-Item Matrix in order to compute the similarity

ui_matrix = valid_data_1.pivot_table(index = 'User-ID', columns = 'Book-Title', values = 'Book-Rating')
ui_matrix

Book-Title,1st to Die: A Novel,A Painted House,A Time to Kill,Angels &amp; Demons,Bridget Jones's Diary,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Dreamcatcher,Fahrenheit 451,Girl with a Pearl Earring,Good in Bed,...,The Red Tent (Bestselling Backlist),The Secret Life of Bees,The Street Lawyer,The Summons,The Testament,Timeline,To Kill a Mockingbird,"Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",Where the Heart Is (Oprah's Book Club (Paperback)),Wild Animus
User-ID,,,,,,,,,,,,,,,,,,,,,
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278554,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278633,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
278843,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
chosen_item = ui_matrix["Fahrenheit 451"]
find_similarity = ui_matrix.corrwith(chosen_item, method="pearson")
recommendation = pd.DataFrame(find_similarity, columns = ['Similarity'])
recommendation.sort_values(by = 'Similarity', ascending=False).head(10)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                    Similarity
Book-Title
Fahrenheit 451                                        1.000000
Interview with the Vampire                            0.918024
Bridget Jones's Diary                                 0.849896
The Da Vinci Code                                     0.768273
The Girls' Guide to Hunting and Fishing               0.755929
Suzanne's Diary for Nicholas                          0.755929
Angels &amp; Demons                                   0.738549
The Red Tent (Bestselling Backlist)                   0.725845
Harry Potter and the Sorcerer's Stone (Harry Po...    0.709557
Tuesdays with Morrie: An Old Man, a Young Man, ...    0.685879